* {
    margin: 0;
}
html, body {
    height: 100%
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%
    margin: 0 auto -4em;
}
.footer, .push {
    height: 4em;
}
p {
    padding: 0 0 1em;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0 0 0.4em;
}
