#sortable { list-style-type: none; margin: 0; padding: 0; width: 4500px; }
#sortable li {margin: 3px 3px 3px 0; float: left; width: 1440px; height: 700px; font-size: 1em; text-align: center;}
img.displayed{display: block; margin-left: 0; margin-right: 0; margin: 0; width: 1440px; height: 700px;}
div.dz-image.dz-processing.dz-image-preview.dz-error.dz-complete{margin:-20; width:1440px; height:700px;}
img{margin:-20px; margin-left:-60px;}